@charset "utf-8";
/* ================================================= 自定义样式 =================================================== */
/* 弹出窗样式，弹一个div */
#testPopDiv
{
	width:580px;
	height:300px;
}
#testPopDiv02
{
	width:450px;
	height:200px;
}